/SESION1/actividad1/build/
/SESION2/actividad2/nbproject/private/
/SESION2/Ejercicio_basicos_DDR_35v2/nbproject/private/
/SESION2/ejercicio1/nbproject/private/
/SESION2/actividad2/build/
/SESION2/ejercicio1/build/
